.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  
body{
    background-color: black;
}

#meme{
    text-align: center;
    margin-top: 200px;
    width: 50%;
    margin-left: 24%;
    color: white;
}

#kanye{
    width: 100%;
    border: 5px solid white;
}

h1{
    font-family: "Libre Baskerville", serif;
    text-transform: capitalize;
    font-size: 3rem;
}

p{
    font-family: "Libre Baskerville", serif;
    color: white;
}